*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
} 

section{
    padding: 100px;
}
.banner{
    position: relative;
    min-height: 100vh;
    background: url(45.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    
    align-items: center;
}
.banner h2{
font-size: 3em;
color: white;
font-weight: 500;
line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3{
    font-size: 1.5em;
    color: white;
    font-weight: 500;
}
.btn{
    position: relative;
    background: rgb(28, 28, 145);
    display: inline-block;
    color: white;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
    background: red;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0,0,0.1);
}
header .logo{
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;

}
header .logo.sticky{
    color: blue;
}
header ul{
    position: relative;
    display: flex;

}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: white;
    text-decoration: none;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: rgba(172, 169, 165, 0.589);
}
.heading h2{
font-weight: 600;
font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.content1{
    padding-right: 30px;
}
.content1 h3{
font-size: 24px;
margin-bottom: 10px;
}
.content2{
min-width: 50%;
}
img{
    max-width: 100%;
}
.services{
    background: rgb(26, 26, 27);
}
.heading.white{
    color: white;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesbx{
    padding: 40px 20px;
    background: #222;
    color: white;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 00.5s;

}
.services .content .servicesbx:hover{
    background: #2196f3;
}
.services .content .servicesbx img{
    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesbx h2{
    font-size: 20px;
    font-weight: 600;
}
.work .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workbx{
    width: 50%;
    padding: 20px;

}
.work .content .workbx img{
    max-width: 100%;
}
.contact{
    background: #111;

}
.formbx{
    min-width: 60%;

}
.formbx form{
    display: flex;
    flex-direction: column;
}
.formbx form h3,
.contactInfo h3{
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.formbx form input,
.formbx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color:  white;
    resize: none ;
}
.formbx form textarea{
    min-height: 200px;
}
.formbx form input::placeholder,
.formbx form textarea::placeholder{
    color: #999;
}
.formbx form input[type="submit"]{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.box{
    color:blue;
}
.copyright{
    font-size: 20px;
    justify-content: center;
    text-align: center;
    color: white;
    
}